* {
  box-sizing: border-box;
}
/* Galery Section STAR */

.galery-section {
  background-color: var(--color-branding-primary);
  margin-top: 100px;
}

.galery-section .title-text {
  color: var(--color-body-primary);
}

.galery-section .row img {
  object-fit: cover;
}
/* Galery Section END */

/* breakpoint star */

@media (max-width: 768px) {
  .galery-section .row {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .galery-section .row {
    padding: 0 10%;
  }
}

@media (max-width: 1300px) {
  .galery-section .row {
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .galery-section .row {
    padding: 0 20%;
  }
}
