@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Program {
    margin: 4rem 0;
    overflow-x: hidden;
}

.program-top {
    width: 100vw;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.program-top-title {
    margin-bottom: 1rem;
    font-family: 'poppins';
}

.program-top-title h2 {
    color: #830c11;
}

.program-top-title span {
    color: black;
}

.program-top-text {
    font-family: 'open sans';
    line-height: 1.7;
    width: 50vw;
    color: #777777;
}

.Program .program-bottom {
    font-family: sans-serif;
}

.Program .program-bottom .program-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#bottom-container2 {
    flex-direction: row-reverse;
}

.program-bottom-text-container {
    font-family: 'open sans';
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 2rem;
}

#bottom-text-container2 {
    align-items: start;
}

.Program .program-bottom .program-bottom-text-container p {
    line-height: 1.6;
    width: 40vw;
    text-align: right;
}

#bottom-paragraph2 {
    text-align: left;
}

.program-bottom-text-container a {
    font-size: 1.25rem;
    color: #830c11;
}

/* MEDIA FOR PROGRAM */
@media (max-width: 575.98px) {
    .program-top-text {
        width: 90vw ;
    }
    .Program .program-bottom .program-bottom-container {
        flex-direction: column-reverse;
        margin-bottom: 10rem;
    }
    #bottom-container2 {
        flex-direction: column-reverse;
    }
    .Program .program-bottom .program-bottom-text-container {
        align-items: start;
    }
    .Program .program-bottom .program-bottom-text-container p {
        margin-top: 3rem;
        width: 85vw;
        text-align: justify;
    }
    #bottom-paragraph2 {
        text-align: justify;
    }
    .program-bottom-container img {
        width: 90vw;
        height: auto;
    }
}

@media (min-width: 576px) and (max-width: 800px){
    .program-top-text {
        width: 80vw ;
    }
    .program-bottom-container img {
        width: 45vw;
        height: auto;
    }
}
/* END OF MEDIA FOR PROGRAM */


